@model IEnumerable<Student>
@{
    ViewBag.Header = "Elev8 Training Institution";
    ViewData["Motor"] = "A Training Instute Like No Other";
}

    <div class="container mt-3">
        <h2>Student List</h2>
        <p>@TempData["Message"]</p>
        
        <partial name="_Table" model="@Model" />

    </div>
